.toggle__container:after {
  content: '';
  display: table;
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 72px;
  font-size: 6.5rem;
  color: #f0f3f6;
}

/**
 * loop over each color and set as background
 *
 */
.active {
  background: #d66666;
}

.break {
  background: #54bb87;
}

.pomodoro__container {
  margin: 0 auto;
  text-align: center;
}

.pomodoro__btns {
  margin-top: 100px;
}

.pomodoro__hint {
  display: block;
  margin-top: 35px;
  color: rgba(240, 243, 246, 0.6);
  font-size: 12px;
  font-size: 1.00rem;
}

.pomodoro__count {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: rgba(240, 243, 246, 0.6);
  font-size: 14px;
  font-size: 1.875rem;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical__align {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.settings__panel {
  background: #f0f3f6;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transform-origin: 100% 100%;
  border-radius: 5px;
  padding: 10px 20px 5px 20px;
}

.settings__trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.settings__close {
  text-align: right;
  margin-bottom: 10px;
  color: #9d9d9d;
}

.settings__close span {
  cursor: pointer;
}

.is-open .settings__panel {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform-origin: 100% 100%;
}

.is-open .settings__trigger {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.toggle {
  width: 50px;
  height: 30px;
  border-radius: 100px;
  background-color: #ddd;
  overflow: hidden;
  position: relative;
  float: right;
}

.toggle__checkbox {
  opacity: 0;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}

.toggle__switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.05s;
}

.toggle__track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
}

.toggle__container--last {
  margin-top: 15px;
}

.toggle__label {
  float: left;
  font-size: 14px;
  line-height: 28px;
  color: #9d9d9d;
}

.toggle__checkbox:checked ~ .toggle__track {
  box-shadow: inset 0 0 0 20px #54bb87;
}

.toggle__checkbox:checked ~ .toggle__switch {
  right: 2px;
  left: 22px;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0.05s, 0s;
}

.pomodoro__range {
  width: 80%;
}

.pomodoro__range,
.pomodoro__range::-webkit-slider-runnable-track,
.pomodoro__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.pomodoro__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}

.pomodoro__range::-moz-range-track {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}

.pomodoro__range--active::-webkit-slider-runnable-track {
  background: linear-gradient(#d66666, #d66666) no-repeat #ddd;
}

.pomodoro__range--shortBreak::-webkit-slider-runnable-track {
  background: linear-gradient(#54bb87, #54bb87) no-repeat #ddd;
}

.pomodoro__range--longBreak::-webkit-slider-runnable-track {
  background: linear-gradient(#54bb87, #54bb87) no-repeat #ddd;
}

.pomodoro__range::-ms-track {
  border: none;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  color: transparent;
}

.pomodoro__range::-ms-fill-lower {
  border-radius: 3px;
  background: #d66666;
}

.pomodoro__range::-webkit-slider-thumb {
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0.125em #333;
  background: #fff;
  margin-top: -3px;
  cursor: pointer;
}

.pomodoro__range::-ms-tooltip {
  display: none;
}

.pomodoro__range:focus {
  border: none;
  outline: none;
}

.pomodoro__label,
.pomodoro__time {
  font-size: 14px;
  font-size: 0.875rem;
  color: #9d9d9d;
}

.pomodoro__time {
  margin-left: 20px;
  text-align: right;
}

.pomodoro-range__container {
  margin: 15px 0;
}

.pomodoro__btn {
  cursor: pointer;
  padding: 7px 45px;
  border: 2px solid #f0f3f6;
  border-radius: 7px;
  font-size: 18px;
  font-size: 1.125rem;
}

.pomodoro__btn {
  color: #f0f3f6;
}

.pomodoro__link {
  color: #f0f3f6;
  font-size: 12px;
  font-size: 1.125rem;
  cursor: pointer;
  padding: 7px 45px;
  text-decoration: underline;
}
